services:
  app:
    container_name: nginx
    build:
      context: .
      target: production
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/production.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - web-net

networks:
  web-net:
    driver: bridge
